{
  "presets": [
    ["env",
      {
        "targets": {
          // React parses on ie 9, so we should too
          "ie": 9
        },
        // Disable polyfill transforms
        "useBuiltIns": true,
        // Do not transform modules to CJS
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
