{
  "presets": [
    ["env",
      {
        "targets": {
          // React parses on ie 9, so we should too
          "ie": 9,
          // We currently minify with uglify
          // Remove after https://github.com/mishoo/UglifyJS2/issues/448
          "uglify": true
        },
        // Disable polyfill transforms
        "useBuiltIns": false,
        // Do not transform modules to CJS
        "modules": false
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-export-extensions"
  ]
}
