{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": "airbnb",
  "plugins": [
    "react"
  ],
  "rules": {
    "strict": 0,
    "comma-dangle": 0,
    "semi": [2, "never"],
    "prefer-template": 1,
    "space-before-function-paren": ["error", "always"],
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true,
      "optionalDependencies": false,
      "peerDependencies": false
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }],
    "react/forbid-prop-types": [2, { "forbid": ["any"] }]
  },
  "env": {
    "browser": true
  }
}